/* Modelo Mobile Firts */

@import url('https://fonts.googleapis.com/css?family=Arimo');

* { margin :0;
    padding: 0;
}

body{
    background-color: #f8efef;
    font-family: 'Arimo', sans-serif;
}
.container-all {
    width: 100%;
    max-width: 400px;
    max-height: 1000px;
    margin: auto;
    margin-top:0%;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7597e', GradientType=0 );
}
.container {
    width: 100%;
    max-width: 400px;
    max-height: 1000px;
    margin: auto;
    margin-top: px;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,236,178,1) 35%, rgba(255,232,163,1) 42%, rgba(247,89,126,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7597e', GradientType=0 );
}
.img-logo{
 margin-top: 100px;
 width: 200px;
 height: 200px;
}
.fondo {
    background-image: url('./img/Principal.png');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;   
}
nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    min-width: 100px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav ul li {
    float: left;
    position: relative;
    margin: 0 20px 0 20px;
  }
  
  nav ul::after {
    content:'';
    display: block;
    clear: both;
  }

  nav ul li a {
    text-decoration-line: none;
  }

.cabecera{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.parrafo{
    margin-top: 50px;
}
.cabecera-form{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
/* .cabecera img{
    width: 150px;
    height: 150px; 
} */
.section{
    flex-wrap:  wrap;
    flex-direction: row;
}
.barra-navegacion{
    font-family: 'Arimo', sans-serif;
    color: rgb(254, 255, 223);
}
#cuerpo{
    font-family: 'Arimo', sans-serif;
    text-align: right;
}
.formulario{
    width: 300px;
    margin: auto;
    background: transparent;
    padding: 10px 30px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
}
.formulario input{
    width: 100%;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: #f6416c;
    background-color: rgb(252, 252, 252);
}
.formulario p{
    margin-top: 20px;
}
.texto-1{
    text-align: center;
    font-size: 24px; 
    margin-top: 8%;
    margin-bottom: 1px;
}
.texto-center{
    text-align: center;
    margin: 10px;
    margin-bottom: 25px;
}
.sign-up {
    margin-top: 15%;
    margin-bottom: 5%;
}
.titulo-registro{
    margin-bottom: 20px;
}
.link-registro{
    color: #ffffff;
    text-decoration: none;
    margin: 2px;
    text-align: center;
}
.link-footer{
    color:#333333;
    text-decoration: none;
    margin: 2px;
    text-align: center;
}
.link-registro-dos{
    color:#00b8a9;
    text-decoration: none;
    margin: 2px;
    text-align: center;
}
.botones-login{
 display: flex;
 justify-content: center;
 align-content: space-between;
 margin-top: 10px;
 margin-bottom: 10px;
}
.btn-face, .btn-google{
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 100%;
    padding: 0%;
    background-color: transparent;
    border-bottom-color: none;
    border: none;
    }
    .btn-google{
        margin-left: 25px;
    }
    .btn-face:hover{
        cursor: pointer;
    }
    .btn-google:hover{
        cursor: pointer;
    }
    .botones-radio{
        display: flex;
        padding: 15px;
        margin-top: 15px;
    }
    .btn-1{
        margin-top: 10px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .boton-iniciar {
        padding-inline-end: 50px;
        padding-inline-start: 50px; 
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        font-weight: 600;
        font-size: 18px;
        background-color: #00b8a9;
        color: #FEFFDF;
        border-radius: 30px;
        border: none;
        margin: 5px;
        width: 80%;
    }
    .boton-cursos {
        padding-inline-end: 50px;
        padding-inline-start: 50px; 
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        font-weight: 600;
        font-size: 18px;
        position: relative;
        width: 295px;
        height: 74px;
        left: 38px;
        top: 86px;
        background: linear-gradient(84.41deg, #D247AF 1.21%, #28B1EF 112.81%);
        border-radius: 25px;
        color: #FEFFDF;
        border-radius: 30px;
        border: none;
        margin: 5px;
        width: 80%;
    }
    .boton-registro {
        padding-inline-end: 50px;
        padding-inline-start: 50px; 
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        font-weight: 600;
        font-size: 18px;
        background-color: #ffffff;
        color: #333333;
        border-radius: 30px;
        border: none;
        margin: 5px;
        width: 100%;
    }

    .footer{
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: #FEFFDF;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #00b8a9;
        margin-top: 5%;
    }
    .footer-color{
        background-color: #00b8a9;
    }
    .footer-texto-color{
        color: #FEFFDF;
    }
    .footer-img{
        width: 80px;
        height: 80px;
    }
    .nav-view{
      display: flex;
      align-items: center;
    }
    .boton-view{
      margin-top: 25px;  
      width: 40px;
      height: 40px;
    }
    .divisor{
        border: 3px solid #fbd5af;
        margin-top: 0%;
    }
    .texto-footer{
        color: #FEFFDF;
        text-align: center;
    }
    .opciones-footer{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: space-around;
    }
    .img-header{
        width: 30px;
        height: 30px;
    }
    .marca-header{
        text-align: center;
        margin-left:5px;
        margin-top: 5px;
        padding: 1px;
    }

    @media (min-width:500px)  {
        .marca-header,.logo-redsocial {
            width: 70%;
        }
        
    }


    .header-position{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-content: flex-end;
    }
    .op-header{
        display: flex;
        flex-direction: row;
        align-content: flex-end;
        justify-content: flex-end;
        box-sizing: border-box;
        
    }
    .opcion-header{
       position: end;
       margin: 10px;
       margin-left: 20px;
       background-color: #00b8a9;
       box-sizing: border-box;
     }
     .fondo-avatar{
         background-color: #dfdbdb;
         border-radius: 50%;
         padding: 10px; 
         margin-right: 10%;     
         margin-bottom: 10%; 
        }
        .logo-redsocial {
            width: 80%;
            padding: 12px;
        }
    
        .encabezado-redsocial {
            background-color: #ffffff; 
           padding: 0%;
            border-radius: 100%;
    
        }
        .nombre-usuario {
            margin-top: 15px;
            font-size: 20px;
        }
        #fecha{
            font-size: 10px;
        }
        .formulario-post{
            width: 78%;
            margin: auto;
            background: #fff2e5;
            padding: 10px 30px;
            box-sizing: border-box;
            margin-top: 40px;
            margin-bottom: 20px;
            border-radius: 7px;
            font-size: 15px;
            text-align: center;
            background: #ffffff;
         }
        @media (min-width:300px) {
            .op-header {
                margin: 0%;
                margin-left: 0%; 
            }
        }
        @media (min-width:400px) {
            .op-header {
                margin: 0%;
                margin-left: 10%; 
            }
        }
        @media (min-width:500px) {
            .op-header {
                margin-left: 30%; 
            }
        }
    
        @media (min-width:700px) {
            .op-header {
                margin-left: 50%;
            }
        }
    
        @media (min-width:900px) {
            .op-header {
                margin-left: 60%;
            }
        }
    
        @media (min-width:1150px) {
            .op-header {
                margin-left: 70%;
            }
            .formulario-post{
                width: 600px;
             }
        }

     .imagen-post{
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
     
     .imagen-get{
        display: flex;
        flex-direction: row;
     }

     .imagen-tamaño{
         width: 50px;
         height: 50px;
     }
     .botones-post{
         margin: 10px 10px 10px 10px;
         border-radius: 3px;
         padding: 5px;
         color: #ffffffc5;
     }

     .selec-confi{
         height: 25px;
         width: 75px;
         margin: 5px;
         font-size: 10px;
     }
     .emoji-post{
         width: 25px;
         height: 25px;
     }
     .emoji-btn{
         background-color: #ffffffc5;
         padding: 2px;
         border-radius: 100%;
         margin: 8px;
         margin-top: 15px;
     }

    #error-login-pass {
        color: red;    
    }
    
    .modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
      }
      
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }
      
      .close {
        color:#2c32e5;
        float: right;
        font-size: 20px;
        font-weight: bold;
      }
      
      #close:hover,
      #close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }

     textarea {
         margin-top: 10px;
         max-width: 70%;
         min-width: 20%;
         height: 20%;
         min-height: 70px;
         max-height: 70px;
         width: 70%;

      }
     
      .boton-iniciar:hover {
        background: #f6416c;
        color: #eef3cd;
        border: none;
      }
      .boton-registro:hover {
        background: #ffffff;
        color: #f6416c;
        border: none;
      }
      

      ::placeholder {
        font-family: 'Arimo', sans-serif;
        text-align: center;
        padding: 10px;
    }


    #texto-publicacion {
        font-size: 120%;
        font-family: 'Lora', serif;
        color: #283773;
        background: white;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 1em;
        border-radius: 5px;
        box-sizing: border-box;
    }

    textarea, select {
        border-radius: 5px;
        box-sizing: border-box;
        border: white;
        font-size: 18px;
        margin-bottom: 30px;
    }

    select {
        background: #ffe79a;
    }


    textarea, #post {
        background: #feffdf;
    }

    

